@font-face {
    font-family: 'GameOfSquids';
    src: url('/game_of_squids.ttf') format('woff2');
}

@font-face {
    font-family: 'mondaySans';
    src: url('/MondaySans.ttf') format('woff2');
}

@font-face {
    font-family: 'briston';
    src: url('/briston.ttf') format('woff2');
}

@font-face {
    font-family: 'alegreya';
    src: url('/Alegreya.ttf') format('woff2');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.rechercheStage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
/* Cursor */
.cursor {
    position: relative;
    width: 24em;
    margin: 4.77em;
    padding: 5px;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 40px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: white;
    background-color: #8aa0e0;
    font-style: italic;
}
/* Animation */
.typewriter-animation {
    animation:
            typewriter 5s steps(50) 0.01s 1 normal both,
            blinkingCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
    from { width: 0; }
    to { width: 67.5%; }
}
@keyframes blinkingCursor{
    from { border-right-color: rgba(255,255,255,.75); }
    to { border-right-color: transparent; }
}

body, html {
    height: 100%;
    width: 100%;
}

.parallax {
    /* The image used */
    background-image: url("./image/lofi-japanese.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: 'mondaySans', sans-serif;
    color: #f5f5f5;
    background-color: #1c1c1e;
    display: flex;
    flex-direction: column;
    align-items: center;
}


nav {
    display: flex;
    flex-direction: row;
    background-color: #22252a;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.boutonNav {
    color: #8aa0e0;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    text-transform: uppercase;
    font-family: 'briston', sans-serif;

}

.boutonNav:hover {
    color: #ffffff;
    border-bottom : 3px solid rgba(255, 255, 255, 0.75);
}
.boutonNav:active{
    transform: scale(0.8);
}

.page {
    padding: 40px 20px;
    width: 100%;
    margin: 100px ;
    text-align: center;
    background-color: #1c1c1e;
}

#profilPhoto{
    height: 20em;
    width: 15em;

}

h1 {
    font-size: 3rem;
    color: #8aa0e0;
    margin-bottom: 10px;
    font-family: 'briston', sans-serif;
}

h2 {
    font-size: 2rem;
    color: #f5f5f5;
    margin-bottom: 20px;
    font-family: 'briston', sans-serif;
}

.titrePage {
    font-size: 2.5rem;
    color: #8aa0e0;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'briston', sans-serif;
}

#profil p {
    line-height: 1.6;
    font-size: 1.2rem;
    color: #dcdcdc;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}



#texteProfil {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #dcdcdc;
}

#titreListeCompetence {
    font-size: 1.5rem;
    color: #ffffff;
}

#divImageCv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#imageCv {
    width: 400px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #4169e1;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #314d91;
}

#portfolio, #contact {
    margin-top: 50px;
}

#portfolio {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#parentProjet {
    display: flex;
    flex-direction: row;

}

#memory{
    padding: 20px;
}

#projetPortfolio{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}


#portfolio h2 {
    grid-column: 1 / -1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


.overlay.visible {
    opacity: 1;
    visibility: visible;
}

/* Overlay content box */
.overlay-content {
    background-color: #22252a;
    color: #000000;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.overlay p{
    font-size: 20px;
    margin: 0.8em;
    font-family: 'alegreya' , sans-serif;
    color: #dcdcdc;
}

.overlaySecondTitle{
    font-size: 2rem;
    color: #314d91;
    font-family: 'briston' , sans-serif;
    margin-bottom: 0.5em;
    margin-top: 0.9em;
}

.overlayContentChild{
    background-color: #2c3036;
}

/* Close button */
.button-close {
    background: #ff4b5c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin: -10px -10px 10px 10px;
    transition: background 0.3s ease;
}

.button-close:hover {
    background: #ff1a30;
}

.modal-title{
    color: #1466b8;
}

#message {
    text-align: center;
}

.imageInOverlay{
    height: 100%;
    width: 100%;
}

.listeLanguage{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.imageLanguage{
    height: 5em;
    width: 5em;
    display: flex;
    padding: 10px;
}


.projetImage {
    height: 200px;
    width: 300px;
}

.openOverlay{
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.lienProjet{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.contact {
    display: flex;
    text-align: center;
    margin:10px;
}

#retour_haut_page {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: auto;
    z-index: 1000;
}

#texte_haut_page {
    border: 3px solid #314d91;
    color: white;
    font-family: "Bradley Hand", cursive;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    background-color: #1466b8;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

#texte_haut_page:active {
    transform: scale(0.8);
}


footer {
    background-color: #22252a;
    color: #8aa0e0;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

@media screen and (max-width: 1024px) {
    body, html {
    overflow-x: hidden;
    }
    nav {
    height: 10vh;
    }
    .boutonNav {
        font-size: 2em;
    }

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}